<div class="govuk-related-items govuk-!-padding-bottom-4 top-border__container">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t('contact_us.title') %></h2>
  <p class="govuk-body-m govuk-!-margin-bottom-2"><%= t('contact_us.sub_title') %></p>
  <p class="govuk-body-m govuk-!-margin-bottom-0"><%= t('contact_us.body') %></p>
  <p class="govuk-body-m govuk-!-margin-bottom-0">
    <%= link_to t('contact_us.telephone'), t('contact_us.telephone_link'), class: 'govuk-heading-l govuk-!-margin-bottom-1 govuk-!-padding-top-1 govuk-link no-text-decoration' %>
  </p>
  <p class="govuk-body-s muted-text govuk-!-margin-bottom-0"><%= t('contact_us.telephone_times') %></p>
</div>
