<%
  content_for :title, "Service Manual"
  content_for :phase_message do
    render 'shared/custom_phase_message_homepage', phase: 'alpha'
  end
  content_for :body_classes, 'app-full-width'
%>

<header class="app-hero">
  <div class="app-hero__content govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-6 app-hero__heading--inverse"><%= @home.heading %></h1>
          <p class="govuk-body-lead app-hero-lead app-hero__body--inverse govuk-!-padding-bottom-1">
            The DfE Service Manual documents the specific technology, tools and processes that DfE teams use to design and deliver digital services.
            It’s not intended as guidance for anyone working outside DfE - you’ll find that in the <%= link_to 'GDS Service Manual', 'https://www.gov.uk/service-manual ', class: 'govuk-link' %>.
          </p>
          <form action="/manual/search" method="get" role="search">
            <%= render "govuk_publishing_components/components/search", {
              label_text: 'Search the service manual',
              name: 's'
            } %>
          </form>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body-s app-hero__body--inverse">
            <%= link_to 'Contact the Service Manual team', '/contact/govuk', class: 'govuk-link app-link--inverse' %>
            with any comments or questions.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <% @areas.each_slice(3) do |row_of_areas| %>
      <div class="govuk-grid-row">
        <% row_of_areas.each do |area| %>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><%= link_to area.heading, '/manual/' + area.uri, class: 'govuk-link' %></h2>
            <p class="govuk-body-s"><%= area.description %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="panel govuk-!-padding-top-3 govuk-!-margin-top-5">
          <h2 class="govuk-heading-m">GDS Service Manual</h2>
          <p class="govuk-body app-body">The <%= link_to 'GDS Service Manual', 'https://www.gov.uk/service-manual ', class: 'govuk-link' %> explains what teams can do to create and run great services that will meet the GDS Service standard. It can be used together with this DfE Service Manual.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="panel govuk-!-padding-top-3 govuk-!-margin-top-5">
          <h2 class="govuk-heading-m">GDS Service Standard</h2>
          <p class="govuk-body app-body">The <%= link_to 'GDS Service Standard', 'https://www.gov.uk/service-manual/service-standard', class: 'govuk-link' %> provides the principles of building a great service. This manual is to help you meet the standard using the shared tools, technology and processes used at the DfE.</p>
        </div>
      </div>
    </div>
  </div>
</div>

