<% page_title :pages_privacy_policy %>
<%= back_link %>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <h2 class="govuk-heading-m">Who we are</h2>
    <p class="govuk-body">This privacy policy covers the Get help to retrain online service which is part of the national retraining scheme. The national retraining scheme is run by Department for Education (DfE) Digital which is a part of the Department for Education (DfE). For the purpose of data protection legislation, the DfE is the data controller for the personal data processed as part of Get help to retrain.</p>
    <h2 class="govuk-heading-m">How we will use your information</h2>
    <p class="govuk-body">The Get help to retrain service will help guide you towards more secure work. To do this, we need to ask for some personal data so that we can link you to training and jobs in your local area. We’ll also use your data to evaluate how our service is performing at helping people find new work and training. We’ll then use this information to improve our service and make it better for you.</p>
    <p class="govuk-body">We receive your personal data in the form of information you enter into the service and your IP address.</p>
    <p class="govuk-body">How we use this data:</p>
    <ol class="list list-number">
      <li>We use your postcode and information about what jobs you’ve done to help you find local training options and jobs in your area.</li>
      <li>We use your name, gender, postcode and date of birth to check our service is targeting people correctly, that people are taking up training options we offer, and that peoples’ situations are improving as a result of using this service.</li>
    </ol>
    <h2 class="govuk-heading-m">The personal data we use</h2>
    <p class="govuk-body">Our service uses your IP address and needs your postcode and your job title in order for you to fully use the service. We ask for your name, date of birth, and gender, and also use your postcode, to track our service’s performance and improve how it serves you. You’ll need to supply your email address if you choose to save your progress through the service and return to your job match results at a later date.</p>
    <h2 class="govuk-heading-m">Why our use of your personal data is lawful</h2>
    <p class="govuk-body">In order for our use of your personal data to be lawful, we need to meet one (or more) conditions in the data protection legislation. For the purpose of this service this processing is necessary to complete a public task.</p>
    <h2 class="govuk-heading-m">How long we will keep your personal data</h2>
    <p class="govuk-body">We will only keep your personal data for up to 5 years, which is as long as we need it to allow evaluation of this service. After this period it will be securely destroyed. Please note that under data protection legislation and in compliance with the relevant data processing conditions, we can lawfully keep personal data processed purely for research and statistical purposes indefinitely.</p>
    <h2 class="govuk-heading-m">How we will process your personal data</h2>
    <p class="govuk-body">Some of the personal data we collect from you may be shared with the Department for Work and Pensions (DWP) at a later date as the law allows. The data we share with DWP includes: your name, date of birth, postcode and gender. The data will only be shared for the purposes of evaluating our service performance.</p>
    <p class="govuk-body">Get help to retrain will not pass on your personal data to any other third parties without first obtaining your consent. Your data will not be processed outside the EU.</p>
    <h2 class="govuk-heading-m">Your data protection rights</h2>
    <p class="govuk-body">More information about how the DfE handles personal information and your information rights is published here:</p>
    <p class="govuk-body"><%= link_to('https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter', 'https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter', class: 'govuk-link') %></p>
    <h2 class="govuk-heading-m">The right to lodge a complaint</h2>
    <p class="govuk-body">You have the right to raise any concerns with the Information Commissioner’s Office (ICO) via their website at <%= link_to('https://ico.org.uk/concerns/', 'https://ico.org.uk/concerns/', class: 'govuk-link') %>.</p>
    <h2 class="govuk-heading-m">Last updated</h2>
    <p class="govuk-body">This version was last updated on 03/02/2020.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
