<% content_for :ga_page_type, "Area" %>
<%= content_for :title, "#{@area.heading} - Service Manual" %>
<% content_for :meta_description, @area.description %>

<% content_for :phase_message do %>
  <%= render 'shared/custom_phase_message', phase: 'alpha' %>
<% end %>

<%= render "govuk_publishing_components/components/breadcrumbs", {
  collapse_on_mobile: true,
  breadcrumbs: [
    {
      title: "Service manual",
      url: "/"
    },
    {
      title: @area.heading
    }
  ]
} %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "govuk_publishing_components/components/title", {
        title: @area.heading,
        margin_bottom: 7
      } %>
      <p class="govuk-body-l">
        <%= raw(@area.description) %>
      </p>
    </div>
  </div>

  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <% @sections.each.with_index(1) do |section, index| %>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-<%= index %>">
              <%= section.heading %>
            </span>
          </h2>
          <div id="accordion-default-summary-<%= index %>" class="govuk-accordion__section-summary govuk-body"><%= section.description %></div>
        </div>
        <div id="accordion-default-content-<%= index %>" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-<%= index %>">
          <% if section.items %>
            <ul class="govuk-list">
              <% section.items.each do |item| %>
                <li>
                  <%= link_to item.heading, '/manual/' + @area.uri + '/' + section.uri + '/' + item.uri %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
