<%= content_for :title, "#{@area.heading} - Service Manual" %>
<% content_for :meta_description, @area.description %>

<% content_for :phase_message do %>
  <%= render 'shared/custom_phase_message', phase: 'alpha' %>
<% end %>

<div class="govuk-width-container">
  <%= link_to 'Home', '/' %>
  <h1><%= @area.heading %></h1>
  <br>
  Updated at: <%= @area.updated_at %>
  <br>
  <%= raw(@area_body) %>

  <ul>
    <% @sections.each do |section| %>
      <li>
        <%= link_to section.heading, @area.uri + '/' + section.uri %>
      </li>
    <% end %>
  </ul>

</div>
