<%= content_for :title, "#{@item.heading} - Service Manual" %>
<% content_for :meta_description, @item.description %>

<% content_for :phase_message do %>
  <%= render 'shared/custom_phase_message', phase: 'alpha' %>
<% end %>

<%= link_to 'Home', '/' %> &gt;
<%= link_to @area_breadcrumb[0], @area_breadcrumb[1] %>


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-page-header">
        <%= render "govuk_publishing_components/components/title", {
          title: @item.heading,
          margin_bottom: 7
        } %>
      </div>
    </div>
  </div>

  <%= render "govuk_publishing_components/components/metadata", {
    last_updated: @last_updated_date_formatted + " ago"
  } %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third sticky">
      <!--  Page contents -->
      <div class="page-contents js-page-contents">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-3">Page contents:</h2>
        <ul class="govuk-list app-page-contents__list">
          <%=  raw(@contents) %>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <div class="govspeak-wrapper govuk-!-padding-top-2">
        <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">
          <%= raw(@item_body) %>
        </div>
      </div>
    </div>
  </div>
</div>
